<div id="container">
  <div id="leftBlock">
    <div class="button-container">
      <h2>{{ userData['fullname'] }}</h2>

      <div>
        <button *ngIf="userData['admin']=='TRUE'" (click)="GoToDBases()"><mat-icon id="list_icon">list</mat-icon></button>
        <button *ngIf="userData['admin']=='TRUE'" (click)="GoToStat()"><mat-icon id="assessment_icon">assessment</mat-icon></button>
      </div>
    </div>
    <p class="subtitle">{{ userData['mail'] }}</p>

    <div class="content">
      <div class="label">
        <p>Профиль</p>
      </div>

      <label for="sex">Пол <mat-icon *ngIf="userData['sex'] != '' && !isEditing['sex']" (click)="toggleEdit('sex')">edit</mat-icon></label> <br>
      <div class="field-container">
        <p *ngIf="userData['sex'] != '' && !isEditing['sex']">{{ userData['sex'] }}</p>
        <select *ngIf="userData['sex'] == '' || isEditing['sex']" id="sex" [(ngModel)]="tempUser['sex']">
          <option value="male">Мужской</option>
          <option value="female">Женский</option>
        </select>
        <div class="done sex" *ngIf="userData['sex'] == '' || isEditing['sex']" (click)="saveEdit('sex')"><mat-icon>done</mat-icon></div>
      </div>

      <br>

      <label for="birthday">Дата рождения <mat-icon *ngIf="userData['birthday'] != '' && !isEditing['birthday']" (click)="toggleEdit('birthday')">edit</mat-icon></label> <br>
      <div class="field-container">
        <p *ngIf="userData['birthday'] != '' && !isEditing['birthday']">{{ userData['birthday'] }}</p>
        <input type="date" *ngIf="userData['birthday'] == '' || isEditing['birthday']" id="birthday" [(ngModel)]="tempUser['birthday']" [ngClass]="{'activate': tempUser['birthday'] != ''}">
        <div class="done birthday" *ngIf="userData['birthday'] == '' || isEditing['birthday']" (click)="saveEdit('birthday')"><mat-icon>done</mat-icon></div>
      </div>

      <br>

      <label for="height">Рост <mat-icon *ngIf="userData['height'] != '' && !isEditing['height']" (click)="toggleEdit('height')">edit</mat-icon></label> <br>
      <div class="field-container">
        <p *ngIf="userData['height'] != '' && !isEditing['height']">{{ userData['height'] }} см</p>
        <input type="number" *ngIf="userData['height'] == '' || isEditing['height']" id="height" [(ngModel)]="tempUser['height']" [ngClass]="{'activate': tempUser['height'] != ''}">
        <div class="done height" *ngIf="userData['height'] == '' || isEditing['height']" (click)="saveEdit('height')"><mat-icon>done</mat-icon></div>
      </div>

      <br>

      <label for="weight">Вес <mat-icon *ngIf="userData['weight'] != '' && !isEditing['weight']" (click)="toggleEdit('weight')">edit</mat-icon></label> <br>
      <div class="field-container">
        <p *ngIf="userData['weight'] != '' && !isEditing['weight']">{{ userData['weight'] }} кг</p>
        <input type="number" *ngIf="userData['weight'] == '' || isEditing['weight']" id="weight" [(ngModel)]="tempUser['weight']" [ngClass]="{'activate': tempUser['weight'] != ''}">
        <div class="done weight" *ngIf="userData['weight'] == '' || isEditing['weight']" (click)="saveEdit('weight')"><mat-icon>done</mat-icon></div>
      </div>
    </div>
  </div>

  <div id="rightBlock">
    <div class="filter">
      <label>За какой срок?</label>
      <input class="date_field" type="date" [(ngModel)]="from" (change)="onDateChange($event, 'from')"> -
      <input class="date_field" type="date" [(ngModel)]="to" (change)="onDateChange($event, 'to')">
    </div>

    <div class="content">
      <div class="label">
        <p>Обращения</p>
      </div>

      <div class="container">
        <h3>Ранее Вас беспокоило:</h3>
        <ul class="list">
          <ng-container *ngFor="let item of data">
            <li (click)="GoToPredict(item)">
              {{ item['appeal']['appeal_complaints'] }}
              <div>
                {{ item['appeal']['appeal_date'] }}
              </div>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="seperator"></div>
