.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin-top: 20px;

    h2 {
        color: #21D9D9;
        font-family: "Comfortaa";
        font-weight: 400;
        font-size: 40px;
        text-align: left;

        &:hover {
            cursor: pointer;
        }
    }

    .active {
        text-decoration: underline;
    }
}

.dbases {
    width: 100%;
    padding: 20px;
    box-sizing: border-box; /* Включает padding в высоту и ширину */

    .additional_block{
        width: 400px;
        height: auto;
        padding: 8px;
        padding-top: 20px;
        padding-bottom: 20px;
        background: #21D9D9;
        border-radius: 10px;
        margin-right: 20px;

        position: absolute;
        top: 710px;

        label {
            color: #FFFFFF;
            font-family: "Comfortaa";
            font-weight: 400;
            font-size: 18px;
            text-align: left;
            margin: 5px;
        }

        mat-slider {
            background-color: #FFFFFF;
            border-radius: 20px;
            width: 250px;
        }
    }

    .filter {
        width: 400px;
        height: auto;
        padding: 8px;
        padding-top: 20px;
        padding-bottom: 20px;
        background: #21D9D9;
        border-radius: 10px;
        margin-right: 20px;

        position: absolute;

        h3{
            font-family: 'Comfortaa';
            color: #fff;
            font-weight: 100px;
            font-size: 23px;
            margin-top: 0;
        }

        label {
            color: #FFFFFF;
            font-family: "Comfortaa";
            font-weight: 400;
            font-size: 18px;
            text-align: left;
            margin: 5px;
        }

        .last{
            margin-top: 20px;
        }

        input {
            height: 30px;
            padding: 4px 8px;
            background: #FFFFFF;
            color: #000000;
            border-color: #21D9D9;
            border-width: 1px;
            border-style: solid;
            border-radius: 10px;
            font-family: "Comfortaa";
            font-weight: 400;
            font-size: 16px;
            text-align: left;
            margin: 5px;
        }

        .int{
            width: 50px;
        }

        .slider-container {
            display: flex;
            align-items: center;
        }
          
        input[type="range"] {
            writing-mode: bt-lr; /* bottom to top, left to right */
            -webkit-appearance: slider-vertical;
            width: 8px;
            height: 70px;
            padding: 0;
            margin-right: 10px;
            background: transparent;
            margin-left: 10px;
            accent-color: #fff;
            
        }
          
        .labels {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 70px;
        }
          
        .labels span {
            margin: 0;
            padding: 0;
            font-family: "Comfortaa";
            color: #fff;
        }

        input[type="range"]::-webkit-slider-runnable-track {
            background: #21D9D9; /* Цвет трека */
            border-radius: 20px;
            border: 1px solid #fff;
          }
          
    }

    p{
        font-family: "Comfortaa";
        font-size: 25px;

        mat-icon{
            position: relative;
            top: 7px;

            width: 30px;
            height: 30px;
            font-size: 30px;

            &:hover{
                color:#d6d6d6;
                cursor: pointer;
            }
        }
    }

    mat-slider {
        border-radius: 20px;
        width: 250px;
    }

    .io {
        display: flex;
        float: right;
        background-color: #fff;
        width: auto;
        height: 40px;
        padding: 5px;

        position: relative;
        bottom: 60px;
        
        .add{
            .panel_btn();
        }
    
        .import{
            .panel_btn();
        }
    
        .export{
            .panel_btn();
        }
    
        mat-icon{
            width: 30px;
            height: 30px;
            font-size: 30px;
            margin-bottom: 10px;
            color: #868686
        }
    
        a{
            color: #868686;
            font-size: 20px;
            font-family: "Comfortaa";

            position: relative;
            bottom: 15px;
        }
    }

    .list {
        margin-left: 460px;


        .table-container {
            overflow-x: auto; /* Добавляем горизонтальную прокрутку */
            width: 100%; /* Убедитесь, что ширина достаточна для содержимого */
            border-radius: 20px;
            height: 495px;
            overflow-y: hide;

            table {
                width: 100%;
                border-radius: 20px;
                font-family: "Comfortaa";
                font-size: 20px;
                border-collapse: collapse;

                thead {
                    color: #fff;
                    

                    th {
                        background-color: #21D9D9;
                        padding: 10px;
                        min-width: 150px; /* Фиксированная ширина для колонок */
                        border: 1px solid #21D9D9;
                    }


                }

                tbody {
                    td {
                        white-space: nowrap; /* Предотвращение переноса текста */
                        padding: 10px;
                        min-width: 150px; /* Фиксированная ширина для колонок */
                        border: 1px solid #21D9D9;
                    }
                }
            }
        }

        .table-container::-webkit-scrollbar {
            height: 6px; /* Ширина ползунка */
          }
          
          .table-container::-webkit-scrollbar-track {
            background: #f1f1f1; /* Цвет фона ползунка */
          }
          
          .table-container::-webkit-scrollbar-thumb {
            background: darken(#21D9D9, 5%); /* Цвет ползунка */
            border-radius: 6px; /* Скругление ползунка */
          }
          
          .table-container::-webkit-scrollbar-thumb:hover {
            background: #21D9D9; /* Цвет ползунка при наведении */
          }
    }
}

.panel_btn(){
    width: 110px;
        &:hover{
            mat-icon{
                color: #000;
            }
            a{
                color: #000;
            }
            cursor: pointer;
    }
}

::ng-deep .mat-dialog-container {
    background-color: #f5f5f5; /* Цвет фона */
    border: 2px solid #3f51b5; /* Обводка */
    border-radius: 10px; /* Скругление углов */
    padding: 20px; /* Внутренний отступ */
  }
  