<div class="menu">
    <h2 (click)="GoToDB('diseases')" [ngClass]="{'active': type === 'diseases'}">База болезней</h2>
    <h2 (click)="GoToDB('appeales')" [ngClass]="{'active': type === 'appeales'}">База обращений</h2>
    <h2 (click)="GoToDB('sympts')" [ngClass]="{'active': type === 'sympts'}">База симптомов</h2>
    <h2 (click)="GoToDB('patients')" [ngClass]="{'active': type === 'patients'}">База пациентов</h2>
</div>

<div class="filter">
    <div>

    </div>
    <div>

    </div>
    <div>

    </div>
    <div>

    </div>

</div>

<div class="io">
        
</div>

<div class="list">
    <ul></ul>
    <div class="managing_pages">

    </div>
</div>