<div id="main_block">
    <div class="block">
        <h2>Изучим</h2>
        <p>Наше приложение делает процесс диагностики простым и эффективным. 
            Просто начните вводить симптомы, и выберите их из выпадающего списка. 
            После этого наша система рассчитает возможные заболевания, основываясь на ваших данных.</p>
    </div>
    
    <div class="block">
        <h2>Успокоим</h2>
        <p>Если вас тревожат мысли о здоровье, то наш помощник даст вам возможность развеять их. </p>
    </div>
    
    <div class="block">
        <h2>Сориентируем</h2>
        <p>Если у вас есть подозрения на заболевания, мы подскажем, к какому врачу обратиться или какие анализы сдать для уточнения диагноза. </p>
    </div>
    
</div>

<h1> Переходи и мы поможем тебе помочь себе! </h1>

<div id="go">
    <button (click)="GoToSearch()"> Приступим! </button>
</div>
