<div id="login">
    <h2>Регистрация</h2>
    <form (ngSubmit)="OnSubmit()" #loginForm="ngForm">
      <label for="fullname"> <p>Фамилия и имя пользователя</p> </label>
      <input type="text" id="fullname" name="fullnamed" placeholder="Иванов Иван" [ngClass]="{'activate': regData['fullname']}" [(ngModel)]="regData['fullname']" required>
      <label for="email"> <p>Почта</p> </label>
      <input type="text" id="email" name="email" placeholder="Email" [ngClass]="{'activate': regData['mail']}" [(ngModel)]="regData['mail']" required>
      <label for="password"> <p>Пароль:</p> </label>
      <input type="password" id="password" name="password" placeholder="Пароль" [ngClass]="{'activate': regData['password']}" [(ngModel)]="regData['password']" required>
      <label for="confrimed_password"> <p>Пароль:</p> </label>
      <input type="password" id="confrimed_password" name="confrimed_password" placeholder="Подтвердите пароль" [ngClass]="{'activate': regData['confirmed_password']}" [(ngModel)]="regData['confirmed_password']" required>
        
      <p *ngIf="error" class="error"> {{error}} </p>
  
      <input type="submit" value="Зарегистрироваться" id="button">
    </form>
    <p>Есть аккаунт? <a (click)="GoToLogin()">Войди в него!</a></p>
  </div>
  