<div class="menu">
    <h2>Вероятные заболевания</h2>
    <div class="filter">
        <mat-icon [ngClass]="{'activate': search}">search</mat-icon>
        <input placeholder="Найти заболевание" [(ngModel)]="search" [ngClass]="{'activate': search}" (input)="Search()">
    </div>

</div>

<div class="medical_history">
    <h3>Анамнез</h3>
    <p><b>Дата обращения: </b> {{medical_history['appeal_date']}} </p> 
    <p><b>Жалобы:</b> {{medical_history['appeal_complaints']}} </p>
    <p><b>Симптомы:</b>  {{symptoms}}</p>
</div>

<div class="list">
    <div class="card" *ngFor="let item of predict" (click)="GoToDisease(item)">
        <div class="header">
            <h3>{{item['disease']['disease_name']}}</h3>
            <p>{{item['percent']}}%</p>
        </div>
        <p>{{item['disease']['disease_description']}}</p>
    </div>
</div>
