<div class="menu">
    <h3>Статистика обращений</h3>

    <div>
        <label for="patient">По каким пациентам?</label>
        <select name="patient">
            <option>По полу</option>
            <option>По возрасту</option>
            <option>По росту</option>
            <option>По весу</option>
        </select>
    </div>

    <div>
        <label for="symptom">По какому симптому?</label>
        <input name="symptom">
    </div>

    <div>
        <label for="date">За какой срок?</label>
        <input type="datetime-local"> - <input type="datetime-local">
    </div>
</div>

<div class="plot">

</div>

