<div class="header">
    
    <button *ngIf="is_curtain_page" id="searching"> <mat-icon>search</mat-icon> <span>Вернуться к поисковику</span> </button>
    <h1>На дому</h1>
    <p id="title">Твой медицинский помощник</p>


    <button *ngIf="!is_logged_in" (click)="navigateToLogin()"  class="button enter">Войти</button>
    <button  *ngIf="is_logged_in" (click)="navigateToLogin()"  class="button enter">Выйти</button>
    <p *ngIf="is_logged_in"  id="name"> {{ fullname }} </p>
    <p *ngIf="is_logged_in && is_admin" id="status">Администратор</p>
</div>