@font_family: "Comfortaa", sans-serif;
@med_color: #21D9D9;

.header{
    width: 100%;
    height: 100px;
    background-color: @med_color;
    padding: 0px;
    font-family: @font_family;

    button{
        height: 50px;
        font-family: @font_family;
        border-radius: 25px;
        padding: 0;
        border: none;
        background: #FFFFFF;
        color: #000000;
    
        font-size: 18px;
          
        padding: 8px 8px 8px 8px;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.3;
        text-align: right;

        &:hover{
            cursor: pointer;
        }

        &:active{
            background-color: lighten(@med_color, 35%);
        }
    }
    
    #searching{
        width: 290px;
       
    
        border: none;
        background: #FFFFFF;
        color: #000000;
        
        font-family: @font_family;
        font-size: 18px;
        
        padding: 14px 8px 8px 8px;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.3;
        text-align: right;
        
        margin-left: 30px;
        margin-top: 25px;

        span{
            position: relative;
            bottom: 7px;
        }
        
        mat-icon{
            position: relative;
            right: 6px;
        }

    }

    .enter{
        float: right;
        margin-right: 30px;
        
        position: relative;
        top: -265px;
      }
    
      #name{
        float: right;
        position: relative;
        top: -275px;
        right: 10px;
      
        height: 40px;
        color: #FFFFFF;
        font-weight: 400;
        font-size: 22px;
      
      }
      
      #status{
        float: right;
        position: relative;
        top: -245px;
        left: 160px;
      
          width: 173px;
          height: 38px;
          color: #1EB9B9;
      
          font-weight: 400;
          font-size: 18px;
          text-align: left;
      }
    
    h1{
        width: 270px;
        height: 70px;
        color: #FFFFFF;
        font-weight: 400;
        font-size: 60px;
        text-align: center;
        
        margin-left: auto;
        margin-right: auto;
        
        position: relative;
        top: -110px;
    }
    
    #title {
        width: 291px;
        height: 50px;
        color: #232323;
        font-weight: 400;
        font-size: 18px;
        text-align: center;
        
        margin-left: auto;
        margin-right: auto;
        
        position: relative;
        top: -150px;
    }
    
    #enter{
        width: 60px;
        height: 60px;
        border-radius: 50px;
        
        padding: 0;
        border: none;
        background: #FFFFFF;
        color: #000000;
        
        font-family: @font_family;
        font-size: 14px;
        
        position: relative;
        top: -275px;
        
        float: right;
        margin-right: 30px;
    }
}
  
  
  


