
{% import 'header.html' as header %}
{{ header.input(session, certain_page, "login") }}

<div id="login">
    <h2>Войти</h2>
    <form action="/login" method="post">
      <label for="email">Email:</label><br>
      <input type="text" id="email" name="email"><br>
      <label for="password">Пароль:</label><br>
      <input type="password" id="password" name="password"><br>

      {% if err is defined -%} <p class="error"> {{err}} </p> {% endif -%}

      <input type="submit" value="Submit">
</div>