<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataBases</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/db.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    {% import 'header.html' as header %}
    {{ header.input(session, certain_page) }}

    <div class="menu">
        <a class="menu {% if entity_type == 'Disease' -%} selected {% endif -%}" href="http://127.0.0.1:5000/db/Disease">База болезней</a>
        <a class="menu {% if entity_type == 'Appeal' -%} selected {% endif -%}" href="http://127.0.0.1:5000/db/Appeal">База обращений</a>
        <a class="menu {% if entity_type == 'Symptom' -%} selected {% endif -%}" href="http://127.0.0.1:5000/db/Symptom">База симптомов</a>
        <a class="menu {% if entity_type == 'Patient' -%} selected {% endif -%}" href="http://127.0.0.1:5000/db/Patient">База пациентов</a>
    </div>

    <div id="left_panel">
        <button id="addItemBtn">+</button>
    </div>
    <div id="list">
        <table>
            <tr>
                {% for name in lst[0].keys() -%}
                    <th>{{lst[0][name]}}</th>
                {% endfor %}

            </tr>
            {% for elem in lst[1:] %}
            <tr>
                {% for key in lst[0].keys() %}
                    <td> {{ elem[key] }} </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>

    <div id="myModal" class="modal">
        <div class="modal-content">
        {% if entity_type == 'Disease' -%}
            <h2>Добавление заболевания</h2>
            <form id="diseaseForm">
                <label for="name">Наименование:</label><br>
                <input type="text" id="name" name="name" required><br>
                <label for="description">Описание:</label><br>
                <textarea id="description" name="description" required></textarea><br>
                <label for="recommendations">Рекомендации:</label><br>
                <textarea id="recommendations" name="recommendations" required></textarea><br>
                <label for="type">Возбудитель:</label><br>
                <input type="text" id="type" name="type" required><br>
                <label for="course">Протекание болезни:</label><br>
                <input type="text" id="course" name="course" required><br>

                <input type="submit" value="Submit">
            </form>
        {% elif entity_type == 'Appeal' -%}
            <h2>Добавление обращения</h2>
            <form id="appealForm">
                <label for="name">Дата:</label><br>
                <input type="date" id="date" name="date" required><br>
                <label for="complaints">Жалобы:</label><br>
                <textarea id="complaints" name="complaints" required></textarea><br>

                <input type="submit" value="Submit">
            </form>
        {% elif entity_type == 'Symptom' -%}
            <h2>Добавление симптома</h2>
            <form id="symptomForm">
                <label for="name">Наименование:</label><br>
                <input type="text" id="name" name="name" required><br>
                <label for="description">Описание:</label><br>
                <textarea id="description" name="description" required></textarea><br>

                <input type="submit" value="Submit">
            </form>
        {% elif entity_type == 'Patient' -%}
            <h2>Добавление пациента</h2>
            <form id="patientForm">
                <label for="full_name">ФИО:</label><br>
                <input type="text" id="full_name" name="full_name" required><br>
                <label for="mail">Почта:</label><br>
                <input type="email" id="mail" name="mail" required><br>
                <label for="password">Пароль:</label><br>
                <input type="password" id="password" name="password" required><br>
                <label for="sex">Пол:</label><br>
                <input type="text" id="sex" name="sex" required><br>
                <label for="birthday">Дата рождения:</label><br>
                <input type="date" id="birthday" name="birthday" required><br>
                <label for="last_update">Последнее обновление:</label><br>
                <input type="datetime-local" id="last_update" name="last_update" required><br>
                <label for="registration_date">Дата регистрации:</label><br>
                <input type="datetime-local" id="registration_date" name="registration_date" required><br>
                <label for="height">Рост:</label><br>
                <input type="number" id="height" name="height" required><br>
                <label for="weight">Вес:</label><br>
                <input type="number" id="weight" name="weight" required><br>
                <label for="admin">Администратор:</label><br>
                <input type="checkbox" id="admin" name="admin"><br>

                <input type="submit" value="Submit">
            </form>
        {% endif -%}
        <button id="closeModalBtn">Закрыть</button>
        </div>
    </div>

    <script>
        var modal = document.getElementById("myModal");
        var btn = document.getElementById("addItemBtn");
        var span = document.getElementById("closeModalBtn");
        
        {% if entity_type == 'Disease' -%}
            $(document).ready(function() {
                $('#diseaseForm').submit(function(event) {
                    event.preventDefault();
                    var formData = {
                        entity_type: 'Disease',
                        parametrs: {
                            name: $('#name').val(),
                            description: $('#description').val(),
                            recommendations: $('#recommendations').val(),
                            type: $('#type').val(),
                            course: $('#course').val()
                        }
                    };

                    $.ajax({
                        type: 'POST',
                        url: '/create_entity',
                        data: JSON.stringify(formData),
                        contentType: 'application/json',
                        success: function(response) {
                            modal.style.display = "none";
                        },
                        error: function(error) {
                            alert('Error: ' + error.responseJSON.Error);
                        }
                    });
                });
            });
        {% elif entity_type == 'Appeal' -%}
            $(document).ready(function() {
                    $('#appealForm').submit(function(event) {
                        event.preventDefault();
                        var formData = {
                            entity_type: 'Appeal',
                            parametrs: {
                                date: $('#date').val(),
                                complaints: $('#complaints').val(),
                            }
                        };

                        $.ajax({
                            type: 'POST',
                            url: '/create_entity',
                            data: JSON.stringify(formData),
                            contentType: 'application/json',
                            success: function(response) {
                                modal.style.display = "none";
                            },
                            error: function(error) {
                                alert('Error: ' + error.responseJSON.Error);
                            }
                        });
                    });
                });
        {% elif entity_type == 'Symptom' -%}
            $(document).ready(function() {
                $('#symptomForm').submit(function(event) {
                    event.preventDefault();
                    var formData = {
                        entity_type: 'Symptom',
                        parametrs: {
                            name: $('#name').val(),
                            description: $('#description').val()
                        }
                    };

                    $.ajax({
                        type: 'POST',
                        url: '/create_entity',
                        data: JSON.stringify(formData),
                        contentType: 'application/json',
                        success: function(response) {
                            modal.style.display = "none";
                        },
                        error: function(error) {
                            alert('Error: ' + error.responseJSON.Error);
                        }
                    });
                });
            });
        {% elif entity_type == 'Patient' -%}
            $(document).ready(function() {
                $('#patientForm').submit(function(event) {
                    event.preventDefault();
                    var formData = {
                        entity_type: 'Patient',
                        parametrs: {
                            full_name: $('#full_name').val(),
                            mail: $('#mail').val(),
                            password: $('#password').val(),
                            sex: $('#sex').val(),
                            birthday: $('#birthday').val(),
                            last_update: $('#last_update').val(),
                            registration_date: $('#registration_date').val(),
                            height: $('#height').val(),
                            weight: $('#weight').val(),
                            admin: $('#admin').is(':checked')
                        }
                    };

                    $.ajax({
                        type: 'POST',
                        url: '/create_entity',
                        data: JSON.stringify(formData),
                        contentType: 'application/json',
                        success: function(response) {
                            modal.style.display = "none";
                        },
                        error: function(error) {
                            alert('Error: ' + error.responseJSON.Error);
                        }
                    });
                });
            });
        {% endif -%}

        btn.onclick = function() {
          modal.style.display = "block";
        }
        
        span.onclick = function() {
          modal.style.display = "none";
        }
        
        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }
    </script>
</body> 
</html>