<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataBases</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/db.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>
    {% import 'header.html' as header %}
    {{ header.input(session, certain_page) }}

    <div class="menu">
        <a class="menu {% if entity_type == 'Disease' -%} selected {% endif -%}" href="http://127.0.0.1:5000/db/Disease">База болезней</a>
        <a class="menu {% if entity_type == 'Appeal' -%} selected {% endif -%}" href="http://127.0.0.1:5000/db/Appeal">База обращений</a>
        <a class="menu {% if entity_type == 'Symptom' -%} selected {% endif -%}" href="http://127.0.0.1:5000/db/Symptom">База симптомов</a>
        <a class="menu {% if entity_type == 'Patient' -%} selected {% endif -%}" href="http://127.0.0.1:5000/db/Patient">База пациентов</a>
    </div>

    <div id="left_panel">
        <button id="openModalBtn">+</button>
    </div>
    <div id="list">
        <table>
            <tr>
                {% for name in lst[0].keys() -%}
                    <th>{{lst[0][name]}}</th>
                {% endfor %}

            </tr>
            {% for elem in lst[1:] %}
            <tr>
                {% for key in lst[0].keys() %}
                    <td> {{ elem[key] }} </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>

    <div id="myModal" class="modal">
        <div class="modal-content">
        <p>Содержимое модального окна...</p>
        <button id="closeModalBtn">Закрыть</button>
        </div>
    </div>

    <script>
        // Получаем элементы
        var modal = document.getElementById("myModal");
        var btn = document.getElementById("openModalBtn");
        var span = document.getElementById("closeModalBtn");
        
        // Когда пользователь нажимает на кнопку, открываем модальное окно
        btn.onclick = function() {
          modal.style.display = "block";
        }
        
        // Когда пользователь нажимает на <span> (x), закрываем модальное окно
        span.onclick = function() {
          modal.style.display = "none";
        }
        
        // Когда пользователь нажимает в любое место за пределами модального окна, закрываем его
        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }
    </script>
</body> 
</html>