<h1 mat-dialog-title>Добавление {{ dict[data.type] }}</h1>
<div mat-dialog-content>
  <form #addForm="ngForm">
    <div *ngIf="data.type === 'patients'">
        <label for="fullname">ФИО</label><br>
      <input id="fullname" [(ngModel)]="data.fields.fullname" name="fullname" required>
      <div *ngIf="addForm.controls['fullname']?.invalid">
        <p>*Обязательно к заполнению</p>
      </div>
      <br>
      <label for="mail">Mail</label><br>
      <input id="mail" [(ngModel)]="data.fields.mail" name="mail" required>
      <div *ngIf="addForm.controls['mail']?.invalid">
        <p>*Обязательно к заполнению</p>
      </div>
      <br>
      <label for="password">Password</label><br>
      <input id="password" [(ngModel)]="data.fields.password" name="password" required>
      <div *ngIf="addForm.controls['password']?.invalid">
        <p>*Обязательно к заполнению</p>
      </div>
        <br>
        <label for="sex">Пол</label><br>
        <input id="sex" [(ngModel)]="data.fields.sex" name="sex">
        <br>
        <label for="birthday">Дата рождения</label><br>
        <input id="birthday" [(ngModel)]="data.fields.birthday" name="birthday" type="date">
        <br>
        <label for="height">Рост</label><br>
        <input id="height" [(ngModel)]="data.fields.height" name="height">
        <br>
        <label for="weight">Вес</label><br>
        <input id="weight" [(ngModel)]="data.fields.weight" name="weight">
        <br>
        <label for="admin">Admin</label>
        <input id="admin" [(ngModel)]="data.fields.admin" name="admin" type="checkbox">
    </div>
    <div *ngIf="data.type === 'appeals'">
      <label for="appeal_date">Дата</label><br>
      <input id="appeal_date" [(ngModel)]="data.fields.appeal_date" name="appeal_date" required>
      <div *ngIf="addForm.controls['appeal_date']?.invalid">
        <p>*Обязательно к заполнению</p>
      </div>
      <br>
      <label for="appeal_complaints">Жалобы</label><br>
      <input id="appeal_complaints" [(ngModel)]="data.fields.appeal_complaints" name="appeal_complaints">
    </div>
    <div *ngIf="data.type === 'sympts'">
      <label for="symptom_name">Наименование</label><br>
      <input id="symptom_name" [(ngModel)]="data.fields.symptom_name" name="symptom_name" required>
      <div *ngIf="addForm.controls['symptom_name']?.invalid">
        <p>*Обязательно к заполнению</p>
      </div>
      <br>
      <label for="symptom_description">Описание</label><br>
      <input id="symptom_description" [(ngModel)]="data.fields.symptom_description" name="symptom_description">
    </div>
    <div *ngIf="data.type === 'diseases'">
      <label for="disease_name">Наименование</label><br>
      <input id="disease_name" [(ngModel)]="data.fields.disease_name" name="disease_name" required>
      <div *ngIf="addForm.controls['disease_name']?.invalid">
        <p>*Обязательно к заполнению</p>
      </div>
      <br>
      <label for="disease_description">Описание</label><br>
      <input id="disease_description" [(ngModel)]="data.fields.disease_description" name="disease_description">
      <br>
      <label for="disease_recommendations">Рекоммендации</label><br>
      <input id="disease_recommendations" [(ngModel)]="data.fields.disease_recommendations" name="disease_recommendations">
      <br>
      <label for="disease_type">Источник беспокойства</label><br>
      <input id="disease_type" [(ngModel)]="data.fields.disease_type" name="disease_type">
      <br>
      <label for="disease_course">Disease Course</label><br>
      <input id="disease_course" [(ngModel)]="data.fields.disease_course" name="disease_course" type="range" min="0" max="1" required>
      <div *ngIf="addForm.controls['disease_course']?.invalid">
        <p>*Обязательно к заполнению</p>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Выйти</button>
  <button mat-button (click)="onAddClick(addForm)" [disabled]="addForm.invalid">Добавить</button>
</div>
