mat-dialog-container {
    form{
        background-color: #fff;
        font-family: "Comfortaa";

        label{
            color: #000;
        }
        
        p{
            color: red;
        }
    }

    mat-dialog-title {
        color: #3f51b5; /* Цвет текста */
        font-size: 24px; /* Размер текста */
        margin-bottom: 20px; /* Отступ снизу */
      }
}



  /* Содержимое модального окна */
.mat-dialog-content {
    padding: 20px; /* Внутренний отступ */
    background-color: #fff;
  }
  
  /* Кнопки модального окна */
  .mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
    padding: 20px; /* Внутренний отступ */
    background-color: #fff;
  }
  
  button {
    margin-left: 10px; /* Отступ слева */
    background-color: #3f51b5; /* Цвет фона кнопки */
    color: #fff; /* Цвет текста кнопки */
    border: none; /* Убираем обводку */
    border-radius: 5px; /* Скругление углов */
    padding: 10px 20px; /* Внутренний отступ */
    cursor: pointer; /* Курсор при наведении */
  }
  
  button:hover {
    background-color: #303f9f; /* Цвет фона при наведении */
  }